.home-page-pink{
color: blueviolet;
font-size: 30px;

}
#container-1{
  margin-left: 50px;

}
#container-box{
  display: flex;
  height: 110px;
  width: 520px;
  border-radius: 20px;
  background-color: black;
}
.text-box{
background-color: black;
}
.photo-box-img{
border-radius: 20px;
height: 110px;

}
.home-page-pink-light{
  color: gray;
}

.home-page-pink-details{
  font-weight: lighter;
  font-size: 20px;
}

.textbolder{
  font-weight: bolder;
}